.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $header_bg;
    z-index: 100;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: $header_height;

        @media (max-width: $header_show_menu_icon_break_point) {
            padding: 0 20px !important;
        }

        // ===== LOGO ===== //
        .header__logo {
            z-index: 110;
            display: flex;
            align-items: center;
            // padding: 0 90px;

            flex: 0 1 auto;

            .logo_img {
                height: 40px;
                width: 40px;
                transition: all .3s ease-in-out;
                margin-right: 20px;
            }

            .logo_title {
                font-weight: bold;
                font-size: 24px;
                color: black;
                line-height: 29px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            &:hover .logo_img {
                transform: rotate(360deg);
            }
        }

        // ===== LOGO ===== //


        .menu {

            // ======= MENU ICON ======== //
            &__icon {
                display: none; // hide on pc

                // show on mobile
                @media (max-width: $header_show_menu_icon_break_point) {

                    /* ===== create menu-burger icon ===== */
                    & {
                        z-index: 101;
                        display: block;
                        position: relative;
                        width: 30px;
                        height: 18px;
                        cursor: pointer;
                    }

                    &:before,
                    &:after,
                    & span {
                        position: absolute;
                        left: 0;
                        height: 10%;
                        width: 100%;
                        transition: all .3s ease 0s;
                        background: $header_menu_icon_bg_color;
                    }

                    &:before,
                    &:after {
                        content: "";
                    }

                    & span {
                        top: 50%;
                        transform: translateY(-50%) scale(1);
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }

                    /* animation */
                    &._active span {
                        transform: translateY(-50%) scale(0);
                    }

                    &._active:before {
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                    }

                    &._active:after {
                        bottom: 50%;
                        transform: translateY(50%) rotate(45deg);
                    }

                    /* animation */

                    /* ===== create menu-burger icon ===== */
                }
            }
        }

        // ======= MENU ICON ======== //

        .menu__list {

            @media (min-width: $header_show_menu_icon_break_point) {
                display: flex;
                align-items: center;
            }

            li {
                position: relative;
                margin-right: 35px;
                display: flex;
                align-items: center;


                // for pc add padding
                @media (min-width: $header_show_menu_icon_break_point) {
                    padding: 10px 0; // to we can move mouse to drom-down menu
                }

                .menu__link {
                    font-size: 14px;
                    color: $header_link_color;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0.03em;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:active {}
                }

                &:last-child {
                    margin-right: 0;
                }

                // drop-down arrow
                .menu__arrow {
                    display: block !important;
                    transition: transform .3s ease;
                    margin-left: 5px;

                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-top: 5px solid black;
                }

                // show drop-down if active
                &._active .menu__sub-list {
                    transform: translate(0, 0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    transition: all .3s ease;
                }

                /* turn over arrow */
                &._active .menu__arrow {
                    transform: rotate(-180deg);
                }

                // on mobiles menu is vertical list
                @media (max-width: $header_show_menu_icon_break_point) {
                    margin: 0 0 38px 0;
                    flex-wrap: wrap;

                    &:last-child {
                        margin: 0px;
                    }

                    // increase font size for mobile
                    .menu__link {
                        font-size: 28px !important;
                    }

                    .menu__arrow {
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 14px solid white;
                    }

                    /* menu sub-list */
                    .menu__sub-list {
                        position: absolute;
                        // flex: 1 1 100%;
                        width: 100%;
                        margin-top: 20px !important;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(-10%);
                        transition: all .3s ease;

                        background: #fff;

                        .menu__sub-link {
                            font-size: 24px !important;
                            color: black;
                        }
                    }

                    // show sub-list if li is ._active
                    &._active .menu__sub-list {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }


                    /* meni sub-list */
                }
            }


            // drop-down arrow

            // ----- sub-menu list ----- //
            .menu__sub-list {
                position: absolute;
                top: 100%;
                right: 0;

                background: $light-color;
                padding: 10px 15px;
                min-width: 200px;

                li {
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .menu__sub-link {
                    color: $dark-color;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:active {
                        color: rgb(90, 90, 90)
                    }

                    &:focus {}
                }

                // hide menu for pc
                @media (min-width: $header_show_menu_icon_break_point) {
                    transform: translate(0, 10%);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: all .3s ease;
                }
            }

            // ----- sub-menu list ----- //

        }

        .header__menu_1 {
            // flex: 1 1 auto;
            margin-right: auto;
        }

        .header__menu_2 {
            margin-left: auto;

            .menu__list {
                position: relative;

                .header__menu_2-link-wrapper {
                    display: flex;
                }

                .cart {
                    margin: 0 0 0 100px;

                    // cart

                    @media (max-width: 1180px) {
                        margin: 0 0 0 30px !important;
                    }

                    .menu__link {
                        width: 91px;
                        display: flex;
                        justify-content: space-between;

                        .cart__icon {
                            width: 30px;
                            height: 30px;
                            align-self: center;
                        }

                        .cart__count {
                            position: relative;
                            width: 33px;
                            height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            align-self: center;

                            color: white;
                            background: #D7B399;

                            &:before {
                                position: absolute;
                                content: "";
                                width: 0;
                                height: 0;
                                border-top: 7.5px solid transparent;
                                border-bottom: 7.5px solid transparent;
                                border-right: 15px solid #D7B399;
                                left: -15px;
                            }
                        }

                    }
                }
            }
        }

        // ===== MOBILE MENU ===== //
        .header__mobile-menu {

            // hide menu for mobile
            @media (max-width: $header_show_menu_icon_break_point) {
                position: fixed;
                left: 0;
                top: 120%;
                width: 100%;
                height: 100%;
                margin-top: $header_height;
                padding: 60px 45px 45px 30px;
                overflow: auto;

                transition: all .3s ease;
                transition-property: left, top, right, bottom, opacity, transform;

                background: rgba(0, 0, 0, 0.8); // color for bg mobile menu

                li>.menu__link {
                    color: #fff !important;
                }


                // create pseudo header
                // &:before {
                //     content: "";
                //     position: fixed;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: $header_height;
                //     background: $header_bg;
                //     z-index: 110;
                // }

                // show mobile menu if ._active
                &._active {
                    top: 0;
                }
            }
        }

        // ===== MOBILE MENU ===== //
    }
}

// ===== style for pc and mobiles ===== //
// on pc show drop-down menu when hover
body._pc .menu__list>li.menu__sub-list-hover:hover .menu__sub-list {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all .3s ease;
}

/* ----- for touch ----- */

body._touch .menu__link {
    flex: 1 1 auto;
}

/* if li is active we need to show sub-menu as relative */
@media (max-width: $header_show_menu_icon_break_point) {
    body._touch .menu__list>li._active .menu__sub-list {
        position: relative;
    }
}