.main__screen {
    position: relative;

    .full_screen {
        $last-line-height: 235px;

        .full_screen-container {
            width: 100%;
            height: 100%;
            padding-bottom: $last-line-height;
        }

        .swiper-container {
            position: relative;
            width: 100%;
            height: 100%;

            .swiper-wrapper {
                @media (max-width: $md) {
                    .swiper-slide {
                        align-content: center;
                    }
                }

                .swiper-slide {
                    display: flex;
                    align-items: center;

                    @media (max-width: $md) {
                        flex-wrap: wrap;

                        .slider__column {
                            width: 100% !important;
                            height: max-content;

                            &.introducing {
                                order: 2
                            }

                            &.slider__column_img {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }

                    .slider__column {
                        position: relative;
                        width: 50%;
                        max-height: 377px;

                        @media (max-width: 900px) {
                            .slider__over-title {
                                font-size: 24px !important;
                            }

                            .slider__title {
                                font-size: 44px !important;
                                margin: 15px 0 30px !important;
                            }
                        }

                        @media (max-width: $md) {
                            text-align: center;
                        }


                        @media (max-width: $sm) {
                            .slider__over-title {
                                font-size: 16px !important;
                                line-height: 24px !important;
                            }

                            .slider__title {
                                font-size: 34px !important;
                                line-height: 40px !important;
                                margin: 10px 0 20px !important;
                            }
                        }

                        .slider__over-title {
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 37px;
                            letter-spacing: 0.02em;
                            color: #000000;
                        }

                        .slider__title {
                            font-weight: bold;
                            font-size: 55px;
                            line-height: 67px;
                            letter-spacing: 0.04em;
                            color: #000000;
                            margin: 35px 0 55px;
                        }

                        .slider__btn {}

                        .slider__prices {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100px;
                            display: flex;
                            flex-wrap: wrap;
                            margin-top: 40px;

                            @media (max-width: 900px) {
                                margin-top: -20px;
                            }

                            @media (max-width: $md) {
                                margin-top: 0;
                            }

                            * {
                                width: 100%;
                            }

                            .old-price {
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: right;
                                letter-spacing: 0.05em;
                                text-decoration-line: line-through;
                                text-transform: uppercase;

                                color: #000000;
                            }

                            .new-price {
                                font-weight: bold;
                                font-size: 42px;
                                line-height: 51px;
                                text-align: right;
                                letter-spacing: 0.02em;
                                text-transform: uppercase;
                                margin-top: 14px;

                                color: #D84033;

                            }
                        }

                        img {
                            max-height: 100%;

                            @media (max-width: $md) {
                                max-height: 200px;
                            }
                        }
                    }
                }
            }

            .swiper-pagination {
                position: relative;
                bottom: 70px;

                .swiper-pagination-bullet {
                    width: 40px;
                    height: 7px;
                    background: #CECECE;
                    border-radius: 0;

                    &.swiper-pagination-bullet-active {
                        background: #D7B399;
                    }
                }
            }
        }

        .main__last-line {
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: $last-line-height;
            background: $dark-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .last-line-wrapper {
                * {
                    flex: 1 0 100%;
                    color: white;
                }

                @media (max-width: $md) {
                    padding: 0 20px;

                    .last-line-title {
                        font-size: 22px !important;
                        line-height: 27px !important;
                    }

                    .last-line-text {
                        font-size: 17px !important;
                        line-height: 22px;
                    }
                }

                .last-line-title {
                    font-size: 30px;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 37px;
                    letter-spacing: 0.02em;
                    margin-bottom: 23px;
                }

                .last-line-text {
                    font-size: 21px;
                    font-weight: 300;
                    font-size: 21px;
                    line-height: 26px;
                }
            }
        }
    }
}