//  ================== FONTS ================== //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
//  ================== FONTS ================== //

//  ================== IMPORTS ================== //
@import 'nullstyle.scss';
@import '_variables.scss';
@import 'header.scss';
@import 'main_screen';
@import 'sections/collections.scss';
@import 'sections/catalog.scss';
@import 'sections/category.scss';
@import 'sections/subscribe.scss';
@import 'footer.scss';
//  ================== IMPORTS ================== //

// =================== STYLES =================== //
body {
    font-family: Montserrat;
    overflow-x: hidden;
}

// remove scrolling for all ._scroll-lock
*._scroll-lock {
    overflow: hidden;
}

.container {
    max-width: $container_width;
    max-width: 1130px;
    margin: auto;
    padding: 0 10px;

    @media (max-width: $header_show_menu_icon_break_point) {
        padding: 0 20px;
    }
}

.full_screen {
    width: 100vw;
    height: 100vh;
    background: #F9F6F1;
}

.btn {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #D7B399;
    padding: 18px 35px;
    border: none;
    cursor: pointer !important;
}

.btn-2 {}

.main__section {
    position: relative;
    width: 100%;
}

input {
    background: #F9F6F1;
    border: none;
}

::placeholder {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;

}